
<%- include('home') %>


<div class="container text-center">
    <div class="col col-xs-16">
        <h1><%=  message %></h1>
<li>
<% arr.forEach(val => { %>
 <ul><%= val.word.toUpperCase() %></ul>
  <% }) %>
</li>
</div>
</div>